<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net461" />
  <package id="System.Diagnostics.Tracer" version="2.0.8" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Mqtt" version="0.4.9-experimental" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net452" />
  <package id="System.Reactive.Linq" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.PlatformServices" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Windows.Threading" version="3.1.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.WindowsRuntime" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net461" />
</packages>